<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.RuntimeNodeSetsClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Quickstarts.RuntimeNodeSetsClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.RuntimeNodeSetsClient.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.RuntimeNodeSetsClient>
</configuration>
