<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.NodeManagementClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Quickstarts.NodeManagementClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.NodeManagementClient.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.NodeManagementClient>
</configuration>
