<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.RoleManagementClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Quickstarts.RoleManagementClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.RoleManagementClient.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.RoleManagementClient>
</configuration>
