<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.RuntimeNodeSetsServer" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Quickstarts.RuntimeNodeSetsServer>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.RuntimeNodeSetsServer.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.RuntimeNodeSetsServer>
</configuration>
