<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.RoleManagementServer" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Quickstarts.RoleManagementServer>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.RoleManagementServer.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.RoleManagementServer>
</configuration>
