<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.NodeManagementServer" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Quickstarts.NodeManagementServer>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.NodeManagementServer.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.NodeManagementServer>
</configuration>
